.link-bar a:link, a:visited {
	display: block;
	font-weight: bold;
	background-color: #3366FF;
	text-align: center;
	padding: 8px;
	color: #FFFFFF;
	font-size: 1.5em;
}
.link-bar a:hover, a:active {
	background-color: #0033CC;
}
