html, body {
	height: 100%;
}

.sticky {
	position: fixed;
	top: 0;
}

.navbar {
	width: 100%;
}

.navbar-default {
	background-color: #CFCFCF;
	opacity: 0.8;
}

.navbar-default .navbar-brand {
	color: #0066FF;
}

.navbar-default .navbar-brand:hover {
	color: #CFCFCF;
	background-color: #0066FF;
}

.navbar-default .navbar-nav > li > a {
    color: #0066FF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #CFCFCF;
    background-color: #0066FF;
}

.navbar-default .navbar-toggle .icon-bar {
  	background-color: #CFCFCF;
}

.jumbotron{
	background-image:url(../img/sf.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 93%;
	margin: 0;
	font-family: Helvetica;
}

.intro {
	color: #E6E6E6;
	text-align: center;
}

.intro-detail {
	color: #E6E6E6;
	text-align: center;
}

.about-section {
	width: 70%;
    font-family: fantasy;
}

.footer-section{
	font-size: 10em;
	background-color: #fff;
}